main/
auto/
*/auto/
data/auto/
*/output/
figures/dingjia-orig/*
*/*.swp
main.tdo
main.aux
main.bbl
main.bbl-SAVE-ERROR
main.bcf
main.bcf-SAVE-ERROR
main.blg
main.fdb_latexmk
main.fls
main.log
main.pdf
main.run.xml
main.synctex.gz
main.toc
main.xdv
main.rel
sample_project.css
lwarp*
*html*
*.bak
