*/
auto/
*/auto/
data/auto/
*/output/
figures/dingjia-orig/*
*/*.swp
*.tdo
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.rel
*.lof
main.pdf
sample_project.css
lwarp*
*html*
*.bak
